<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fr.slickteam.cities.mappers.IUserMapper">


    <resultMap id="userResultMap" type="User">
        <!--<constructor>-->
        <!--<idArg column="id_user" javaType="int" name="id"/>-->
        <!--<arg column="login" javaType="String" name="login"/>-->
        <!--<arg column="email" javaType="String" name="email"/>-->
        <!--<arg column="encoded_password" javaType="String" name="encodedPassword"/>-->
        <!--</constructor>-->
        <id property="id" column="id_user"/>
        <result property="login" column="login"/>
        <result property="email" column="email"/>
        <result property="encodedPassword" column="encoded_password"/>
    </resultMap>

    <select id="findByUsername" resultMap="userResultMap">
        select id_user, login, email, encoded_password from our_users WHERE login=#{username}
    </select>
    <select id="findByEmail" resultMap="userResultMap">
        select id_user, login, email, encoded_password from our_users WHERE email=#{email}
    </select>
    <select id="countUsers" resultType="int">
        select count(*) id from our_users
    </select>


    <insert id="addNewUser" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        insert into our_users(login,email, encoded_password) values(#{login},#{email}, #{encodedPassword})
    </insert>

    <delete id="deleteUser">
        delete from our_users where login = #{login}
    </delete>
</mapper>