<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/headTag :: headTag (title='Cities')"></head>
    <meta charset="utf-8"/>

    <!--<title>Hello Spring Boot!</title>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <!--<link-->
    <!--th:href="@{/css/core.css}"-->
    <!--rel="stylesheet"/>-->
</head>
<!--/*@thymesVar id="city" type="org.openclassrooms.cities.model.City"*/-->


<body>

<div th:include="fragments/bodyHeader (tab='cities')" th:remove="tag"></div>

<div id="bloc_page">
    <p id="logo">Thymeleaf example</p>
    <form id="search_box" method="get" th:action="@{/cities}" >
        <input id="search" type="text" name="cityName" autocomplete="off" autofocus="autofocus"/>
        <div id="results"></div>
        <input id="search-button" type="submit" value="Search" />
    </form>


</div>


<div th:include="fragments/bodyFooter" th:remove="tag"></div>

</body>
</html>