<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/headTag :: headTag (title='Home page')">
    <meta charset="utf-8"/>

    <!--<title>Hello Spring Boot!</title>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <!--<link-->
    <!--th:href="@{/css/core.css}"-->
    <!--rel="stylesheet"/>-->
</head>
<!--/*@thymesVar id="city" type="org.openclassrooms.cities.model.City"*/-->

<body>
<div class="site">

    <div th:include="fragments/bodyHeader (tab='cities')" th:remove="tag"></div>

    <div id="home-page" class="site-content">

        <form id="search-form" class="search_box" method="get" th:action="@{/cities}">
            <div class="logo-image">
                <img width="250" height="74"
                     th:src="@{/images/logo.png}" src="../static/images/logo.png"
                     class="custom-logo" alt="logo"/>
            </div>
            <div class="form-line">
                <input id="search" type="text" name="cityName" autocomplete="off" autofocus="autofocus"
                       placeholder="search a city…"/>
                <div id="results"></div>
                <input id="search-button" type="submit" value="Search"/>
            </div>
        </form>


    </div>


    <div th:include="fragments/bodyFooter" th:remove="tag"></div>
</div>
<script th:src="@{/js/villes-tp.js}" src="../../static/js/villes-tp.js"></script>

</body>
</html>