<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/headTag :: headTag (title='Login Page')"></head>
    <meta charset="utf-8"/>

    <!--<title>Hello Spring Boot!</title>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <!--<link-->
    <!--th:href="@{/css/core.css}"-->
    <!--rel="stylesheet"/>-->
</head>


<body>
<!--/*@thymesVar id="city" type="org.openclassrooms.cities.model.City"*/-->
<!--/*@thymesVar id="loginError" type="java.lang.Boolean"*/-->

<div class="site">
    <div th:include="fragments/bodyHeader (tab='cities')" th:remove="tag"></div>

    <div id="bloc_page" class="site-content">
        <article class="containerl">
            <div class="logo">Slickteam</div>
            <div class="login-item">
                <form th:action="@{/login}" method="post" class="form form-login">
                    <div th:if="${param.error}" class="error">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="success">
                        You have been logged out.
                    </div>                    <div class="form-field">
                        <label class="user" for="username"><span class="hidden">Username</span></label>
                        <input id="username" type="text" class="form-input" placeholder="Username"
                               required="required" name="username"/>
                    </div>

                    <div class="form-field">
                        <label class="lock" for="password"><span class="hidden">Password</span></label>
                        <input id="password" type="password" class="form-input" placeholder="Password"
                               required="required" name="password"/>
                    </div>

                    <div class="form-field">
                        <input type="submit" value="Log in"/>
                    </div>
                </form>
            </div>
        </article>
    </div>


    <div th:include="fragments/bodyFooter" th:remove="tag"></div>
</div>

</body>
</html>