<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head th:include="fragments/headTag :: headTag (title='Sign Page')">
    <link th:href="@{/css/core.css}" href="/static/css/core.css" rel="stylesheet"/>

    <link th:href="@{/css/pageforme.css}" href="/static/css/pageforme.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <title>Login page</title>
</head>

<body>
<!--/*@thymesVar id="city" type="org.openclassrooms.cities.model.City"*/-->
<!--/*@thymesVar id="loginError" type="java.lang.Boolean"*/-->

<div class="site">
    <div th:include="fragments/bodyHeader :: header" th:remove="tag"></div>

    <div id="bloc_page" class="site-content container-fluid">
        <div class="row">
            <article class="col-sm-4 col-sm-push-4 ">
                <div class="main-center">
                    <img width="250" height="74"
                         th:src="@{/images/Logo web noir.png}" src="../static/images/logo.png"
                         class="custom-logo" alt="logo"/>
                </div>
                <div class="main-login">
                    <!--/*@thymesVar id="user" type="org.openclassrooms.cities.model.User"*/-->
                    <form id="form" class="" th:action="@{/signup}" method="post"
                          th:object="${user}"
                          data-toggle="validator">

                        <ul>
                            <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
                                <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
                                <span th:text="${e.message}">The error message</span>
                            </li>
                        </ul>

                        <div class="form-group has-feedback"
                             th:class="(${#fields.hasErrors('login')}? 'form-group has-feedback a': 'form-group has-feedback has-error b')">
                            <label for="login" class="cols-sm-2 control-label">Your Username</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input id="login" type="text" class="form-control" name="login"
                                       placeholder="Enter your Username" th:field="*{login}" minlength="1"
                                       autofocus="autofocus"/>
                            </div>
                            <span class="help-block with-errors" th:if="${#fields.hasErrors('login')}"
                                  th:errors="*{login}">Incorrect password</span>

                        </div>


                        <div class="form-group has-feedback">
                            <label for="email" class="cols-sm-2 control-label">Your Email</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input id="email" type="email" class="form-control" name="email"
                                       placeholder="Enter your Email" th:field="*{email}"/>
                            </div>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors"></div>
                        </div>


                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Password</label>
                            <div class="form-inline row">
                                <div class="form-group col-sm-6">
                                    <!--<span class="input-group-addon"><i class="fa fa-lock fa-lg"-->
                                    <!--aria-hidden="true"></i></span>-->
                                    <input type="password" class="form-control" name="password" id="password"
                                           placeholder="Enter your Password" th:field="*{password}" minlength="6"/>
                                    <div class="help-block">Minimum of 6 characters</div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="password" class="form-control" name="confirm" id="confirm"
                                           placeholder="Confirm your Password"
                                           data-match="#password" data-match-error="Whoops, these don't match"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register
                            </button>
                        </div>

                    </form>


                </div>
            </article>
        </div>
    </div>


    <div th:replace="fragments/bodyFooter" th:remove="tag">

        <script
                src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
                crossorigin="anonymous"></script>

        <script src="https://use.fontawesome.com/c9013f5c4c.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>

    </div>
</div>

</body>
</html>