<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<body>

<footer th:fragment="bodyFooter (tab)" class="footer">
    <div class="item">&copy; 2017 Jérémie Guidoux</div>
    <a href="https://github.com/jerems44/demo-villes" class="item">Github</a>
    <div class="item">
        Written in <a href="https://github.com/JetBrains/kotlin" target="_blank">Kotlin</a>
    </div>
    <div class="item">
        Powered by <a href="http://slickteam.fr/" target="_blank">Slickteam</a>
    </div>
</footer>

</body>
</html>