<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<body>

<footer th:fragment="bodyFooter" class=" site-footer footer">
    <div class="item">&copy; 2017 Jérémie Guidoux</div>
    <a href="https://github.com/jerems44/demo-villes" class="item">Github</a>
    <div class="item">
        Written in <a href="https://github.com/JetBrains/kotlin" target="_blank">Kotlin</a>
    </div>
    <div class="item">
        Powered by <a href="http://slickteam.fr/" target="_blank">Slickteam</a>
    </div>
</footer>


<script src="https://use.fontawesome.com/c9013f5c4c.js"></script>
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>

</body>
</html>