<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<body th:fragment="bodyFooter (tab)">
<br/>

<div class="ui divider"></div>
<div class="ui divided horizontal footer link list">
    <div class="item">&copy; 2017 Jérémie Guidoux</div>
    <a href="https://github.com/cheptsov/kotlin-nosql-mongodb-petclinic" class="item">Github</a>
    <div class="item">
        Written in <a href="https://github.com/JetBrains/kotlin" target="_blank">Kotlin</a>
    </div>
    <div class="item">
        Powered by <a href="http://slickteam.fr/" target="_blank">Slickteam</a>
    </div>
</div>

<script th:src="@{/js/villes-tp.js}" src="../../static/js/villes-tp.js"></script>
</body>
</html>