<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
<header th:fragment="bodyHeader" id="header" class="site-header">


    <nav id="navbar">
        <div class="icon icon-1">
            <img width="250" height="74"
                 th:src="@{images/cropped-Logo-Site-Web-4.png}"
                 src="../../static/images/cropped-Logo-Site-Web-4.png"
                 class="custom-logo" alt="logo"/>
        </div>
        <div class="item-container">
            <div class="start-items" sec:authorize="isAuthenticated()">
                <div class="nav-item">
                    <a id="go-home" href="/">Home</a>
                </div>
            </div>
            <div class="end-items" sec:authorize="isAuthenticated()">
                <div id="user-name" class="nav-infos">Welcome <span sec:authentication="name"></span>
                </div>
                <div class="nav-item logout-button">
                    <form id="form-logout" th:action="@{/logout}" method="post">
                        <input type="submit" value="Logout"/>
                    </form>
                </div>
            </div>
            <div class="end-items" sec:authorize="!isAuthenticated()">
                <div class="nav-item important-button">
                    <a id="go-login" href="/login">Log in</a>
                </div>
                <div class="nav-item important-button">
                    <a id="go-signin" th:href="@{/signup}">Sign up</a>
                    <!--<form id="form-signin" th:action="@{/signin}" method="post">-->
                    <!--<input type="submit" value="Sign in"/>-->
                    <!--</form>-->
                </div>
            </div>
        </div>
    </nav>

</header>
</body>
</html>