/**, *:before, *:after {*/
    /*box-sizing: inherit;*/
/*}*/

html {
    box-sizing: border-box;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 95vh;

    /*align-items: center;*/
    /*justify-content: center;*/
    /*height: 300px;*/
    /*padding-top: 50px;*/
    /*background-color: #F5F5F5;*/
}

.site-content {
    display: flex;
    flex-direction: column;
    /*flex: 1;*/
    align-items: center;
    flex-grow:1;
    /*min-height: 60%;*/
    justify-content: center;
    /*height: 300px;*/
    /*padding-top: 50px;*/
    background-color: #F5F5F5;
}


#navbar {
    display: flex;
    align-items: center;
    /*width: 100%;*/
    background: #080A0B;
    opacity: 0.8;
    /*rgba(0, 0, 0, 0.5);*/

    padding: 20px;
}

#navbar a {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}





#search_box {
    position: relative;
    /*display: flex;*/
    /*height: 20px;*/
}

#search {
    width: 220px;
}

#results {
    display: none;
    position: absolute;
    top: 24px;
    border: 1px solid black;
    border-top: none;
    background: white;
    text-align: left;
    width: 222px;
    max-height: 220px;
    overflow-y: auto;
    z-index: 1;
}

#results > div:hover {
    background-color: lightgrey;
}

.selected {
    background-color: lightgrey;
}

.city {
    padding-bottom: 10px;
}

.cityName {
    font-weight: bold;
}

.cityInfo {
    font-size: small;
    padding-left: 20px;
}


.footer {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
}

.item {
    font-size: 12px;
    padding: 10px;
}