/**, *:before, *:after {*/
/*box-sizing: inherit;*/
/*}*/

html {
    box-sizing: border-box;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 95vh;

    /*align-items: center;*/
    justify-content: center;
    /*height: 300px;*/
    /*padding-top: 50px;*/
    /*background-color: #F5F5F5;*/
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background: #080A0B;
    opacity: 0.8;

    padding: 20px;
}

#navbar .item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;

}

#navbar .start-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
}

#navbar .end-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-item {
    padding: 5px;
    color: grey;
    font-size: 25px;
    font-weight: bold;
    flex-grow: 1;
}

.nav-infos {
    padding: 5px;
    color: yellow;
    font-size: 15px;
    align-self: flex-end;
    /*font-weight: bold;*/
}


#navbar a {
    color: grey;
    text-decoration: none;
}

#navbar a:hover {
    color: whitesmoke;
    font-size: 26px;
    cursor: hand;
}

.logout-button input {
    padding: 0;
    border: none;
    background: none;

    color: grey;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    align-self: flex-end;
}

.logout-button input:hover {
    color: whitesmoke;
    font-size: 16px;
}

.site-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    background-color: #F5F5F5;
}

#home-page {
    justify-content: flex-start;
}

.search_box {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    /*justify-content: space-between;*/
    /*height: 20px;*/
    /*height: 40vh;*/
}

.logo-image {
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-line {
    display: flex;
    flex-direction: row;
    position: relative;
}

#search {
    width: 220px;
}

#results {
    display: none;
    position: absolute;
    top: 24px;
    border: 1px solid black;
    border-top: none;
    background: white;
    text-align: left;
    width: 222px;
    max-height: 220px;
    overflow-y: auto;
    z-index: 1;
}

#results > div:hover {
    background-color: lightgrey;
}

.selected {
    background-color: lightgrey;
}

.city {
    padding-bottom: 10px;
}

.cityName {
    font-weight: bold;
}

.cityInfo {
    font-size: small;
    padding-left: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
}

.item {
    font-size: 12px;
    padding: 10px;
}

/*display pannel part*/

.display-pannel {
    margin-bottom: 20px;
    border: 1px solid grey;
    border-radius: 4px;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);*/
    width: 70vh;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);

}

.panel-heading {
    padding: 10px 15px;
    color: #333333;
    background-color: darkgrey;
    border-color: #dddddd;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    padding-left: 5px;
}

.panel-body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.line-title {
    flex: 1;
    font-weight: bold;
    text-align: right;
}

.line-content {
    flex: 2;
    text-align: left;
    padding-left: 20px;
}


.container {
    background:rgba(58,63,68,0.5);
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    width:450px;
    display: flex;
    flex-direction: column;
}

.logo{
    font-family: "museo-slab";
    font-size:20px;
    text-align: center;
    padding: 20px 20px 0;
    margin:0;
}

.login-item {
    color: #ffff;
    padding:25px 25px 0;
    margin: 20px 20px 0;
    border-radius: 3px;
}

input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.user:before {
    content: '\f007';
    font: 14px fontawesome;
    color: #5b5b5b;
}

.lock:before {
    content: '\f023';
    font: 14px fontawesome;
    color: #5b5b5b;
}

.form input[type="password"], .form input[type="text"], .form input[type="submit"] {
    width: 100%;
}

.form-login label,
.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="submit"] {
    border-radius: 0.25rem;
    padding: 1rem;
    color: #3A3F44;
}

.form-login label {
    background-color: #222222;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.form-login input[type="text"], .form-login input[type="password"] {
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.form-login input[type="text"]:focus, .form-login input[type="text"]:hover, .form-login input[type="password"]:focus, .form-login input[type="password"]:hover {
    background-color: #eeeeee;
}
.form-login input[type="submit"] {
    background-color: #00B9BC;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
}
.form-login input[type="submit"]:focus, .form-login input[type="submit"]:hover {
    background-color: #197071;
}
.form-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
}


.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.text--center {
    text-align: center;
}


/*messages*/


.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    /*background-image: url('info.png');*/
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    /*background-image:url('success.png');*/
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    /*background-image: url('warning.png');*/
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    /*background-image: url('error.png');*/
}